body{
    background-color: black;
}

h1{
    color:orange   
}
h1{
    font-variant: small-caps ;
}
h2{
    font-variant: small-caps ;
}

h2{
    color: orange
}
li{
    color: white;
}
footer{
    color: white;
}
section{
    color: rgb(4, 255, 0);
}
 
